.PokemonTile {
  margin: 0 0 12px 12px;
  width: 200px;

  h2 {
    padding: 12px;
    align-self: center;
    margin: 8px 0;
  }

  p {
    align-self: center;
    margin: 4px 0;
  }

  .PokemonTileImage {
    align-self: center;
    margin-top: 12px;
  }
}
